# postgres
POSTGRES_PORT=5432
POSTGRES_DB=auth_db
POSTGRES_USER=auth_user
POSTGRES_PASSWORD=auth_pass
POSTGRES_DATASOURCE_URL=jdbc:postgresql://db:5432/auth_db

SPRING_JPA_HIBERNATE_DDL_AUTO=update

JWT_SECRET=secret-code-for-jwt-token-generation
JWT_EXPIRATION=86400000
JWT_REFRESH_EXPIRATION=604800000

# PORTS
AUTH_SERVICE_PORT=8080
CORE_SERVICE_PORT=8081
NOTIFICATION_SERVICE_PORT=8082
REDIS_PORT=6379

# Взаимодействие сервисов
AUTH_SERVICE_URL=http://localhost:8080
CORE_SERVICE_URL=http://localhost:8081


# kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_CONSUMER_GROUP=notification-service

#mail
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SMTP_AUTH=false
MAIL_SMTP_STARTTLS=false